<!Doctype html>
<html>
  <head>
    <style>
      body{background: yellow; font-family: verdana; color: #fff; padding: 30px;}
      h1{text-transform: uppercase; letter-spacing: 2px; text-align: center;}
      p{text-align: center; color: blue;}
    </style>
  </head>
  <body>
    <%- include ('commonpage/nav.ejs') %>
    <h1>contact page</h1>
    <p>This is contact page</p>
  </body>
</html>
