<!Doctype html>
<html>
  <head>
    <link href="mystyles/mystyle.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <%- include ('commonpage/nav.ejs') %>
    <h1>My web da</h1>
    <p>This web is created for testing</p>
  </body>
</html>
